<li>
  <div class="inner">
    <div class="name"><a {{bind-attr href=data.html_url}} target="_blank">{{data.name}}</a></div>
    <div class="img"><img {{bind-attr src=data.owner.avatar_url}} /></div>
    <div class="owner">{{data.owner.login}}</div>
    <div class="type">{{data.language}}</div>
    <div class="desc">{{data.description}}</div>
    <div class="stats">{{data.atk}} / {{data.def}}</div>
  </div>
  {{log data}}
</li>
