<li>
  <div class="inner">
    <div class="img"><img {{bind-attr src=data.owner.avatar_url}} /></div>
    <div class="name"><a {{bind-attr href=data.html_url}} target="_blank">{{data.full_name}}</a></div>
    <div class="stats">{{data.atk}} / {{data.def}}</div>
  </div>
  {{log data}}
</li>
