{{outlet}}

<div id="game-view">
  <div class="game-toolbar">
    <div class="clock">{{clock}}s</div>
    <div class="turn">
      {{#if isMyTurn}}
        {{username}}'s turn <button {{action "endTurn"}}>End Turn</button>
      {{else}}
        {{opponent}}'s turn. Please Wait...
      {{/if}}
      {{#if opponentProbablyLeft}}
        Your opponent has probably left :(
      {{/if}}
    </div>
  </div>

  <div id="render"></div>

  <ul class="cards cards-deck">
  {{#each card in deck}}
    {{a-card data=card action="selectCard"}}
  {{/each}}
  </ul>
</div>
