{{outlet}}

<div class="clock">{{clock}}s</div>
<div class="turn">
  {{#if turn}}
    {{id}}'s turn
  {{else}}
    {{opponent}}'s turn
  {{/if}}
</div>

<div id="game-view">
  <div id="render"></div>

  <ul class="cards cards-deck">
  {{#each card in deck}}
    {{a-card data=card}}
  {{/each}}
  </ul>
</div>
