{{outlet}}

<div id="game-view">
  <div class="clock">{{clock}}s</div>
  <div class="turn">
    {{#if turn}}
      {{id}}'s turn
    {{else}}
      {{opponent}}'s turn
    {{/if}}
    {{#if opponentProbablyLeft}}
      Your opponent has probably left :(
    {{/if}}
</div>

  <div id="render"></div>

  <ul class="cards cards-deck">
  {{#each card in deck}}
    {{a-card data=card}}
  {{/each}}
  </ul>
</div>
