{{outlet}}

{{#if username}}
  <div class="well find-game-well">
    {{#if waitingForGame}}
      <button class="btn btn-primary btn-lg btn-block" {{action "cancel"}}>Waiting for another player...</button>
    {{else}}
      <button class="btn btn-primary btn-lg btn-block" {{action "findMatch"}}>Find a Game ({{activeGames}} current games)</button>
    {{/if}}
  </div>

  <h1>Current Card Deck</h1>
  <ul class="cards">
    {{#each card in deck}}
      {{a-card data=card action="deselect"}}
    {{/each}}
  </ul>

  <h2>Your Card Collection</h2>
  <ul class="cards">
    {{#each card in library}}
      {{a-card data=card action="select"}}
    {{/each}}
  </ul>

{{else}}

  <div class="jumbotron">
    <h1>Heroes of GitHub</h1>
    <p>The open source card game based on GitHub statistics.</p>
    <p><button class="btn btn-primary btn-lg" {{action "login"}}>Login With GitHub</button></p>
  </div>

{{/if}}
